.appdescription {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-size: 0.85rem;
  width: 50%;
  font-family: var(--font-mono);
  padding: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 24px;
}
